# การโปรแกรมภาษา Python (ไพธอน) เบื้องต้น — https://tinyurl.com/y9wmkgj5

ปรัชญา บุญขวัญ

Email: `prachya.boonkwan@nectec.or.th`

(C) December 2018

## บทนำ

- สำหรับวันนี้ เราจะมาหัดเขียนโปรแกรมภาษา Python กันครับ
- ภาษา Python
  - ภาษาโปรแกรมยอดนิยมสำหรับงานด้านวิทยาการข้อมูล (data science) และปัญญาประดิษฐ์ (artificial intelligence)
  - เหมาะสำหรับผู้ที่เริ่มต้นเขียนโปรแกรม เพราะมีกฎเกณฑ์ของภาษาที่ไม่ซับซ้อน
  - ตามปกติแล้ว นิสิตปี 4 ของภาควิชาวิทยาการคอมพิวเตอร์ สามารถเรียนรู้ได้ด้วยตัวเอง และเขียนโปรแกรมด้วยภาษา Python ได้ภายใน 3 ชั่วโมง

- เนื้อหา
  1. print
  2. mathematical operations
  3. variables
  4. list
  5. string
  6. for loop
  7. branching

- ในคอร์สนี้ เราจะใช้ *การเรียนรู้แบบสะท้อนกลับ* (reflective learning)
  - ท่านสามารถเลือกวิธีการเรียนรู้ได้หลากหลาย ทั้งจากคำบรรยายในแบบเรียนนี้ จากหนังสือแบบเรียน จากการเรียนรู้ด้วยตัวเองผ่านแบบฝึกหัดตามแบบเรียนนี้ โดยเราได้เตรียมผู้ช่วยสอนไว้คอยตอบคำถามของท่านไว้แล้วครับ
  - ในแต่ละกิจกรรม จะมีแบบทดสอบให้ท่านลองทำเป็นระยะๆ ด้วย เพื่อตรวจสอบความเข้าใจของท่าน
  - หากท่านยังไม่เข้าใจ อย่าเพิ่งไปเครียดครับ ท่านสามารถเปลี่ยนวิธีการเรียนรู้ให้ตรงกับจริตของท่านได้ตลอดเวลาครับ
  - และสำหรับท่านที่เคยมีประสบการณ์กับภาษา Python มาก่อน ท่านสามารถทดลองทำแบบฝึกหัดเสริมทักษะที่ท้าย workshop ได้เลยนะครับ ;) 

- วิธีการใช้ Google Colab อย่างง่าย
  - ถ้ามีปุ่ม **"Open in Playground"** อยู่ที่แถบด้านบน กรุณากดปุ่มนี้ก่อน เพื่อที่ท่านจะสามารถสั่งรันโปรแกรมบน colab ของท่านได้
  - กล่องคำสั่งจะเป็นสีเทา เราสามารถเขียนโปรแกรมภาษา Python ลงในกล่องคำสั่งนี้ได้
  - **วิธีรัน (run):** เมื่อเขียนโปรแกรมลงไปแล้ว เราสามารถสั่งรันได้โดยการกดปุ่มเพลย์ ▶️ ที่อยู่หน้ากล่องคำสั่ง หรือกดปุ่ม Shift+Enter ก็ได้ครับ
  - หากยังไม่เห็นปุ่มเพลย์ ให้เอาเม้าส์ไปคลิกที่กล่องคำสั่งก่อน ปุ่มเพลย์ก็จะปรากฏขึ้นมาครับ

-  เราจะทำให้ทุกท่านเขียนโปรแกรมภาษา Python ได้ภายใน 3 ชั่วโมงกัน ถ้าพร้อมแล้ว เรามาเริ่มกันเลยครับ



---

## กิจกรรม 1: พิมพ์ข้อความออกหน้าจอ

### คำสั่ง `print`

- คำสั่งพิมพ์ข้อความในภาษา Python คือ `print`
- เช่น `print('Hello')` ก็จะแสดงข้อความว่า `Hello` ออกที่หน้าจอ
- ลองคลิกที่กล่องคำสั่งสีเทาที่อยู่ด้านล่าง แล้วกดปุ่มเพลย์ในเครื่องหมายก้ามปู `[ ]` หรือกดปุ่ม Shift+Enter ดูสิครับ เห็นข้อความ `Hello` ที่อยู่ในบรรทัดต่อมาไหมครับ

In [2]:
print('Hello world!')

Hello world!

  - จะสังเกตได้ว่า ข้อความ `Hello` ที่เราต้องการจะให้พิมพ์ออกหน้าจอ จะอยู่ในเครื่องหมายคำพูดเดี่ยว (single quote) ในตัวโค้ดเสมอ
  - สิ่งที่อยู่ในเครื่องหมายคำพูดเดี่ยวนี้ เราเรียกว่า *สตริง* (string) ซึ่งแปลเป็นไทยว่า "ข้อความ" นั่นเองครับ

### แบบฝึกหัด 1.1

คราวนี้เรามาลองพิมพ์สตริง `'สวัสดีจ้ะ'` ออกที่หน้าจอกันบ้าง ลองเติมข้อความดังกล่าวลงในเครื่องหมายคำพูดเดี่ยวดูนะครับ

In [3]:
print('สวัสดีจ้ะ')

สวัสดีจ้ะ

ลองเปลี่ยนสตริงดูตามใจชอบ แล้วลองรันดูนะครับ

### หมายเหตุ (comment)

- บางครั้งเราอยากใส่หมายเหตุลงไปในโค้ดเพื่อเป็นบันทึกช่วยจำ เราจะใช้สัญลักษณ์ `#` (แฮช หรือ hash) นำหน้าหมายเหตุ โดยเมื่อไรก็ตามที่ใช้เครื่องหมาย `#` สิ่งที่ตามหลังเครื่องหมายนี้จะเป็นหมายเหตุทั้งหมด เช่น

In [4]:
print('Hello')      # แสดงข้อความ Hello ออกที่หน้าจอ

Hello

- หากเราต้องการหมายเหตุทั้งบรรทัด ให้เราใส่เครื่องหมาย `#` ที่ด้านหน้าสุด เช่น

In [5]:
# แสดงข้อความ Hello ออกที่หน้าจอ
print('Hello')

Hello

- เวลาคอมพิวเตอร์ทำงาน มันจะกระโดดข้ามส่วนที่เป็นหมายเหตุไป
- เช่น ในโค้ดด้านล่างนี้ คอมพิวเตอร์จะกระโดดข้ามบรรทัดที่ 3 ไป เพราะถูกมองเป็นหมายเหตุ

In [6]:
print('Please')
print('Mr.')
# print('and Ms.')
print('Postman')
print('Look and See')

Please
Mr.
Postman
Look and See

### แบบฝึกหัด 1.2

ลองใส่เครื่องหมาย `#` หน้าบรรทัดต่างๆ ในโค้ด แล้วสังเกตความเปลี่ยนแปลงของผลลัพธ์

In [7]:
print('Hello')
print('World')
print('My')
# print('name')
print('is')
# print('Peter')

Hello
World
My
is



---

## กิจกรรม 2: การคำนวณทางคณิตศาสตร์

### คำสั่งเลขคณิต (arithmetic operations) และนิพจน์ทางคณิตศาสตร์ (mathematical expression)

- เราสามารถทำการคำนวณทางคณิตศาสตร์ได้ โดยใช้เครื่องหมายบวก `+`, ลบ `-`, คูณ `*`, และหาร `/` กับตัวเลขได้
  - **ข้อสังเกต:** เราจะใช้เครื่องหมายดอกจัน `*` แทนการคูณนะครับ
- เช่น ถ้าเราสั่งให้คอมพิวเตอร์คำนวณค่าของนิพจน์ทางคณิตศาสตร์ $ 5 \times 2 + 10 $ คอมพิวเตอร์ก็จะคำนวณผลลัพธ์ให้ทันที

In [8]:
5 * 2 + 10

20

- ถ้าเราสั่งให้คอมพิวเตอร์คำนวณค่าของนิพจน์ $ 10 + \frac{5}{2} $ เราจะได้ผลลัพธ์ดังนี้ครับ

In [9]:
10 + 5 / 2

12.5

- จะสังเกตได้ว่า คอมพิวเตอร์คำนวณการหาร 5 / 2 และใส่ค่าทศนิยมให้โดยอัตโนมัติครับ

### แบบฝึกหัด 2.1

เรามาลองคำนวณค่าของนิพจน์ทางคณิตศาสตร์ต่อไปนี้กันดูบ้างครับ

1. $ \frac{3}{4} + \frac{1}{4} $

In [10]:
3/4 + 1/4

1.0

2. $ 1 + 6 \times 8 - 7 $

In [11]:
1+6*8-7

42

3. $ 5 \times 6 + 7 \times 8 - \frac{2}{5} $

In [12]:
5*6+7*8-2/5

85.6

### วงเล็บในนิพจน์ทางคณิตศาสตร์

- ทั้งนี้ เราสามารถใช้เครื่องหมายวงเล็บ `( )` ได้เหมือนกับนิพจน์ทางคณิตศาสตร์ปกติเลยครับ
- เช่น เราสามารถคำนวณค่าของนิพจน์ $ 4 \times 3 + (1 + 2) / 4 $ ได้ด้วยคำสั่งนี้

In [13]:
4 * 3 + (1 + 2) / 4

12.75

- ข้อแตกต่างคือ ในกรณีที่มีวงเล็บซ้อนวงเล็บ เราจะใช้เครื่องหมายวงเล็บ `( )` เสมอ <u>**ห้ามใช้**</u>เครื่องหมายก้ามปู `[ ]` และเครื่องหมายปีกกา `{ }` โดยเด็ดขาด
- เช่น ถ้าเราจะคำนวณค่าของนิพจน์ $ \left( \left[ 1 / \left\{ 2 + 3 \right\} \right] \times 4 + 5 \right) / 6 $ เราจะต้องเปลี่ยนก้ามปูและปีกกากลับมาเป็นวงเล็บก่อนเสมอ

In [14]:
((1 / (2 + 3)) * 4 + 5) / 6

0.9666666666666667

- **หัวใจ:** เครื่องหมายวงเล็บมีหน้าที่เปลี่ยนลำดับการทำงาน โดยจะเริ่มทำในวงเล็บก่อนเสมอ โดยลำดับการทำงานจะเริ่มจาก (1) ทำในวงเล็บ (2) คูณและหาร (3) บวกและลบ
- เช่น ลองสังเกตผลลัพธ์ของนิพจน์ทั้งสองนี้ครับ: $ (1 + 2) \times 3 $ กับ $ 1 + (2 \times 3) $

In [15]:
(1 + 2) * 3

9

In [16]:
1 + (2 * 3)

7

- ทั้งนี้ขอให้ท่านระมัดระวังการใช้เครื่องหมายคูณ `*` และหาร `/` ด้วยนะครับ เพราะถ้าหากไม่ระบุวงเล็บให้ชัดเจน ลำดับการคำนวณก็อาจจะไม่เป็นไปตามที่ท่านต้องการได้

### แบบฝึกหัด 2.2

เรามาลองคำนวณค่าของนิพจน์ทางคณิตศาสตร์ต่อไปนี้กันครับ

1. $ 3 \times (4 + 1 - 2 \times 5) $

In [17]:
3 * (4 + 1 - 2 * 5)

-15

2. $ \frac{1 + 2 + 3}{4 + 5 + 6} $   [**หมายเหตุ:** โปรดเลือกการใช้เครื่องหมายวงเล็บด้วยความระมัดระวัง]

In [18]:
(1 + 2 + 3) / (4 + 5 + 6)

0.4

3. $ 7 \times \frac{5 + 6}{7 + \frac{7}{8}} $

In [19]:
7 * ((5 + 6) / 7 + 7/8)

17.125

### เครื่องหมายยกกำลัง (power) และการถอดราก (root)

- เครื่องหมายยกกำลังในภาษา Python จะใช้เครื่องหมาย `**` (ดอกจันเขียนติดกัน 2 ดวง) ครับ
- เช่น ถ้าเราจะคำนวณค่าของนิพจน์ $ 2^5 $ เราจะใช้คำสั่งว่า

In [20]:
2 ** 5

32

- เมื่อเรานำเครื่องหมายยกกำลังมาใส่ในนิพจน์ทางคณิตศาสตร์ ลำดับการทำงานจะเปลี่ยนไปตามนี้ครับ
  1. ทำในวงเล็บก่อน
  2. ทำเครื่องหมายยกกำลัง
  3. ทำเครื่องหมายคูณและหาร
  4. ทำเครื่องหมายบวกและลบ
- เช่น ลองสังเกตการคำนวณค่าของนิพจน์ 3 ตัวนี้กันครับ: `(2 * 5) ** 3`, `2 * (5 ** 3)`, และ `2 * 5 ** 3`

In [21]:
(2 * 5) ** 3

1000

In [22]:
2 * (5 ** 3)

250

In [23]:
2 * 5 ** 3

250

- ดังนั้นเพื่อความปลอดภัย เราจึงนิยมเขียนเครื่องหมายยกกำลัง `**` ติดกับตัวเลข เพื่อให้เป็นที่รู้กันว่า ถ้าหากไม่มีวงเล็บ เราจะเริ่มทำจากเครื่องหมายยกกำลังก่อนเสมอ เช่น เราจะเขียนนิพจน์ $ 2 \times 5^3 $ ด้วยคำสั่ง `2 * 5**3` เป็นต้น

- นอกจากนี้เรายังสามารถคำนวณค่าราก (root) ได้โดยการใช้สูตร:

$$ \sqrt[r]{a} = a^{1/r} $$

- เช่น เราสามารถคำนวณค่า $ \sqrt[3]{8} $ (รากที่ 3 ของ 8) ได้โดยคำสั่ง `8**(1/3)`

In [24]:
8**(1/3)

2.0

### แบบฝึกหัด 2.3

เรามาคำนวณค่าของนิพจน์ดังต่อไปนี้กันครับ

1. $ 3^{5 + 3/4} $

In [25]:
3**(5+3/4)

553.920214840011

2. $ \sqrt[2]{\left( 7 + 3 \times 4 \right)} $

In [26]:
(7+3*4)**(1/2)

4.358898943540674

3. $ \frac{5 + 6^{2.5}}{\sqrt[2]{3.5}} + 3^2 $

In [27]:
((5+6**2.5)/3.5**(1/2))+3**2

58.8076767100986



---

## กิจกรรม 3: ตัวแปร

### ตัวแปร (variable)

- ตัวแปรเปรียบเสมือนที่ทดเลข เพื่อที่จะได้นำผลลัพธ์จากการคำนวณค่าของนิพจน์ที่ทดไว้ ไปใช้ต่อได้ในอนาคต
- เนื่องจากกระดาษในคอมพิวเตอร์มีขนาดใหญ่มาก เราจึงต้องจองพื้นที่สำหรับทดเลขและตั้งชื่อเอาไว้ เวลาจะหยิบสิ่งที่ทดไว้กลับมาใช้ใหม่จะได้ไม่หลงที่นั่นเองครับ
- เช่น เราสามารถทดค่าของ $ 2^5 $ เก็บไว้ในตัวแปร `a` และทดค่าของ $\sqrt[2]{5}$ เก็บไว้ในตัวแปร `b` เพื่อใช้ต่อในการคำนวณต่อๆ ไปได้ ซึ่งในตัวอย่างนี้เราจะคำนวณค่าของ $ a^3 + b^3 $ กัน

In [28]:
a = 2**5               # ทดค่าไว้ในตัวแปร a
b = 5**(1/2)           # ทดค่าไว้ในตัวแปร b
a**3 + b**3

32779.1803398875

- เราสามารถพิมพ์ค่าตัวแปรออกหน้าจอได้ด้วยคำสั่ง `print` เช่นเดียวกับการแสดงข้อความ เช่น

In [29]:
print(a)
print(b)

32
2.23606797749979

- แต่บางครั้งการตั้งชื่อตัวแปรด้วยตัวอักษรเดี่ยวๆ ก็จำยาก เดี๋ยวมาอ่านทีหลังก็อาจจะลืมอีก เราเลยนิยมตั้งชื่อตัวแปรให้เป็นคำที่อ่านแล้วจำได้ง่ายแทนครับ เช่น `width` (ความกว้าง), `height` (ความสูง), และ `area` (พื้นที่) ดังตัวอย่างด้านล่างนี้

In [30]:
width = 40
height = 30
area = width * height
print(area)

1200

- หากชื่อตัวแปรประกอบด้วยหลายคำ ให้ใช้เครื่องหมาย _ (ขีดเส้นใต้ หรือ underscore) คั่นระหว่างคำ เพื่อให้อ่านง่ายขึ้น เช่น `area_of_triangle` พื้นที่สามเหลี่ยม เป็นต้น

In [31]:
width = 40
height = 30
area_of_triangle = 1/2 * width * height
print(area_of_triangle)

600.0

- นอกจากนี้คำสั่ง `print` ยังสามารถพิมพ์ค่าออกหน้าจอได้หลายๆ อันพร้อมกัน เช่น

In [32]:
width = 40
height = 30
area_of_triangle = 1/2 * width * height
print('width =', width, 'and height =', height)
print('area = width * height =',area_of_triangle)

width = 40 and height = 30
area = width * height = 600.0

### แบบฝึกหัด 3.1

1. ทดลองกำหนดค่าในตัวแปร `a`, `b`, และ `c` ในโค้ดด้านล่าง แล้วสังเกตความเปลี่ยนแปลงของผลลัพธ์

In [33]:
a = 10
b = 20
c = 30
mean = (a + b + c)/3     # เติมโค้ดที่นี่
print(mean)

20.0

2. ตัวแปร `mean` ในโค้ดด้านบนคือค่าอะไร? ทำไมจึงต้องตั้งชื่อตัวแปรแบบนี้?

3. จงเขียนโค้ดลงในช่องว่างให้สมบูรณ์ เพื่อคำนวณค่าเฉลี่ยฮาร์โมนิก (harmonic mean) ของตัวแปร `a`, `b`, และ `c` โดยค่าเฉลี่ยฮาร์โมนิกมีสูตรดังนี้

$$ \mathrm{hmean}(a, b, c) = \frac{3}{\frac{1}{a} + \frac{1}{b} + \frac{1}{c}} $$

In [34]:
a = 10
b = 20
c = 10
hmean = 3/(1/a + 1/b + 1/c)     # เติมโค้ดที่นี่
print(hmean)

12.0

4. ทดลองเปลี่ยนค่าตัวแปร `a`, `b`, และ `c` และสังเกตความเปลี่ยนแปลงของผลลัพธ์

5. เขียนโค้ดเพื่อคำนวณปริมาตรของทรงรี (ellipsoid) จากตัวแปรต่อไปนี้
  - ความกว้างเก็บอยู่ในตัวแปร `width`
  - ความยาวเก็บอยู่ในตัวแปร `length`
  - ความลึกเก็บอยู่ในตัวแปร `depth`

  สูตรของปริมาตรทรงรีมีดังนี้

$$ \mathtt{volume} = \frac{4}{3} \times \pi \times \mathtt{width} \times \mathtt{length} \times \mathtt{depth} $$

In [35]:
pi = 3.1415926   # ค่า 𝜋 (ไพ)

# กำหนดความกว้างในตัวแปร width ให้เท่ากับ 20
width = 20

# กำหนดความยาวในตัวแปร length ให้เท่ากับ 30
length = 30

# กำหนดความลึกในตัวแปร depth ให้เท่ากับ 40
depth = 40

# คำนวณปริมาตรของทรงรีแล้วเก็บในตัวแปร volume
volume = (4/3) * pi * width * length * depth

# พิมพ์ค่าในตัวแปร volume
print(volume)

100530.9632



---

## กิจกรรม 4: การเก็บรายการข้อมูล

### ลิสต์ (list)

- ลิสต์ (list) คือรายการสิ่งของที่เราสามารถปรับเปลี่ยนรายการได้ตลอดเวลาครับ
- ลิสต์ใช้สัญลักษณ์ `[ ]` คั่นด้วยเครื่องหมายคอมมา `,`
- เช่น ลิสต์ของความสูงนักเรียนในกลุ่ม 5 คน มีดังนี้

In [36]:
[163.5, 150.0, 167.0, 161.25, 170.0]

[163.5, 150.0, 167.0, 161.25, 170.0]

- เราสามารถนำลิสต์มาเก็บในตัวแปรได้ ทำให้ตัวแปรเดียวสามารถเก็บค่าไว้ได้หลายค่าครับ เช่น

In [37]:
# ลิสต์ความสูงของนักเรียนในกลุ่ม
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]
print('student heights =', student_heights)

student heights = [163.5, 150.0, 167.0, 161.25, 170.0]

### แบบฝึกหัด 4.1

ลองสร้างลิสต์จากรายการสมาชิกดังต่อไปนี้ `[10, 20, 30, 40, 50]` แล้วเก็บลงในตัวแปร `my_list`

In [38]:
my_list = [10, 20, 30, 40, 50]   # เติมโค้ดที่นี่
print(my_list)

[10, 20, 30, 40, 50]

### ขนาดของลิสต์

- เราสามารถหาขนาดของลิสต์ได้ด้วยคำสั่ง `len` ซึ่งย่อมาจากคำว่า length เช่น

In [39]:
len(student_heights)

5

### แบบฝึกหัด 4.2

จงหาขนาดของลิสต์ในตัวแปร `my_list` ใส่ตัวแปร `my_length` แล้วพิมพ์ค่าของตัวแปรดังกล่าวออกหน้าจอ

In [40]:
my_length = len(my_list)     # เติมโค้ดที่นี่
print(my_length)

5

### การเข้าถึงสมาชิกภายในลิสต์

- เราสามารถเข้าถึงสมาชิกแต่ละตัวในลิสต์ด้วยการระบุตำแหน่งของสมาชิกที่เราต้องการ
- การนับตำแหน่ง (index) ของสมาชิก จะเริ่มต้นจาก 0 เสมอ เช่น `student_heights[0]` จะแทนสมาชิกตัวแรกของลิสต์ความสูงของนักเรียน ในขณะที่ `student_heights[1]` จะแทนสมาชิกตัวที่ 2 ของลิสต์ ฯลฯ

In [41]:
print(student_heights[0])
print(student_heights[1])
print(student_heights[2])
print(student_heights[3])
print(student_heights[4])

163.5
150.0
167.0
161.25
170.0

- และนี่คือความแปลกอย่างหนึ่งของการเขียนโปรแกรมคอมพิวเตอร์ครับ
  - ภาษาโปรแกรมส่วนใหญ่จะเริ่มนับตำแหน่งของสมาชิกจาก 0 เสมอ
  - มันมองว่าตำแหน่ง 0 แทนจุดเริ่มต้นของพื้นที่กระดาษทด
  - การระบุตำแหน่ง (index) ก็คือการเอาตำแหน่งจุดเริ่มต้นของกระดาษทด บวกกับตำแหน่ง index นั้นนั่นเองครับ

- หากเราระบุตำแหน่งเกินจากขนาดของลิสต์ คอมพิวเตอร์จะฟ้องออกมาด้วยคำว่า `IndexError` ซึ่งแปลว่าระบุค่าตำแหน่งเกินขนาดของลิสต์ เช่น

In [42]:
print(student_heights[10])     # ทั้งๆ ที่ลิสต์ student_heights มีขนาดแค่ 5 ตัว

IndexError: list index out of range

### แบบฝึกหัด 4.3

จงคำนวณผลรวมของสมาชิกทุกตัวของลิสต์ในตัวแปร `my_list` เพื่อหาค่าเฉลี่ยโดยใช้สูตร

$$ \mathrm{avg}(\mathbf{a}) = \frac{\sum_{i = 1}^N a_i}{N} $$

เมื่อค่า $ N $ คือจำนวนสมาชิกที่มีในลิสต์ $ \mathbf{a} $

In [44]:
# คำนวณผลรวมของสมาชิกทุกตัวใน my_list
my_summation = sum(student_heights)      # เติมโค้ดที่นี่
my_average = my_summation / my_length
print(my_average)

162.35

### การเปลี่ยนแปลงสมาชิกภายในลิสต์

- เราสามารถเปลี่ยนแปลงสมาชิกภายในลิสต์ โดยการใช้เครื่องหมาย `=` เหมือนกับการกำหนดค่าในตัวแปร
- เช่น เราสามารถเปลี่ยนสมาชิกตัวที่ 2 ของลิสต์ `student_heights` จากค่า 150.0 ให้เป็นค่า 180.0 ได้

In [45]:
student_heights[1] = 180.0
print(student_heights)

[163.5, 180.0, 167.0, 161.25, 170.0]

### แบบฝึกหัด 4.4

จงเพิ่มค่าให้สมาชิกทุกตัวของลิสต์ในตัวแปร `my_list` อย่างละ 5 ด้วยเครื่องหมาย `+` และพิมพ์ตัวแปร `my_list` ออกหน้าจอ

In [48]:
my_list = [10, 20, 30, 40, 50]

my_list = [i + 5 for i in my_list]

print(my_list)

[15, 25, 35, 45, 55]

ได้ผลลัพธ์เป็น `[15, 25, 35, 45, 55]` หรือเปล่าครับ?

### การเลือกบางส่วนของลิสต์ (slicing)

- นอกจากเราจะสามารถเลือกสมาชิกบางตัวในลิสต์ได้แล้ว เรายังสามารถเลือกบางส่วนของลิสต์ได้ด้วย
- **คำสั่งเลือกบางส่วน (slicing):** `ลิสต์[` $a$ `:` $b$ `]` จะเลือกสมาชิกตั้งแต่ index ที่ $a$ จนถึง index ที่ $b - 1$
- เช่น ถ้าเราต้องการเลือกสมาชิกตั้งแต่ตัวที่ 2 จนถึงตัวที่ 4 ของลิสต์ในตัวแปร `student_heights` เราจะใช้คำสั่ง `student_heights[1:4]`

In [52]:
student_heights

[163.5, 180.0, 167.0, 161.25, 170.0]

In [53]:
student_heights[1:4]

[180.0, 167.0, 161.25]

- คำสั่งเลือกบางส่วนสามารถละจุดจบได้ด้วย `ลิสต์[` $a$ `:]`
- เช่น เราจะเลือกสมาชิกตั้งแต่ตัวที่ 2 เป็นต้นไปในลิสต์ `student_heights` ด้วยคำสั่ง `student_heights[1:]`

In [54]:
student_heights[1:]

[180.0, 167.0, 161.25, 170.0]

- คำสั่งเลือกบางส่วนสามารถละจุดตั้งต้นได้ด้วย `ลิสต์[:` $b$ `]`
- เช่น เราจะเลือกสมาชิกตั้งแต่ตัวแรกจนถึงตัวที่ 4 ด้วยคำสั่ง `student_heights[:4]`

In [ ]:
student_heights[:4]

[163.5, 180.0, 167.0, 161.25]

### แบบฝึกหัด 4.5

ในแบบฝึกหัดนี้ เรามีลิสต์ `my_list` ที่มีสมาชิก 10 ตัวดังนี้

In [63]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

1. จงเลือกสมาชิกตัวที่ 3 จนถึงตัวที่ 7

In [64]:
# เริ่มต้นจากสมาชิกตัวที่ 3 --> index = 2
# จบที่สมาชิกตัวที่ 7 --> index = 6
# แปลว่า เราเลือก index 2 จนถึง index 6
# ขอบล่างของ slicing คือ index 2
# ขอบบนของ slicing คือ index 6 + 1
# จึงเขียนเป็น slicing ได้ว่า my_list[2:7]
my_list[2:7]

[30, 40, 50, 60, 70]

2. จงเลือกสมาชิกตัวที่ 2 จนถึงตัวที่ 5

In [61]:
my_list[1:5]

[20, 30, 40, 50]

3. จงเลือกสมาชิกตั้งแต่ตัวแรกจนถึงตัวที่ 8

In [62]:
my_list[:8]

[10, 20, 30, 40, 50, 60, 70, 80]

4. จงเลือกสมาชิกตั้งแต่ตัวที่ 4 เป็นต้นไป

In [66]:
my_list[3:]

[40, 50, 60, 70, 80, 90, 100]

----

## กิจกรรม 5: ข้อความ

- ในกิจกรรม 1 เราได้ทดลองพิมพ์ข้อความออกหน้าจอกันไปแล้ว
- จริงๆ แล้ว ข้อความ (string) ก็เป็นข้อมูลรูปแบบหนึ่งที่เราสามารถประมวลผลได้และทดไว้ในตัวแปรได้เช่นเดียวกันครับ
- เช่น เราสามารถเก็บข้อความ `'Hello'` ไว้ในตัวแปร `message` ได้

In [67]:
message = 'Hello'
print(message)

Hello

### การต่อข้อความ

- เราสามารถนำข้อความ 2 อันมาต่อกันได้ด้วยเครื่องหมาย `+` ครับ
- เช่น เราจะต่อข้อความในตัวแปร `message1` และ `message2` เข้าด้วยกันได้ดังนี้

In [68]:
message1 = 'Hello '
message2 = 'World!'
message = message1 + message2
print(message)

Hello World!

### การทำซ้ำข้อความ

- นอกจากนี้เรายังสามารถทำซ้ำข้อความได้ด้วยเครื่องหมาย `*`
- เช่น ถ้าเราต้องการทำซ้ำข้อความ `hello` 3 รอบ เราจะทำอย่างนี้ครับ

In [ ]:
3 * 'hello'

'hellohellohello'

### แบบฝึกหัด 5.1

จงสร้างตัวแปร 2 ตัว

- `message1` เก็บข้อความ `'Hello '`
- `message2` เก็บข้อความ `'World '`

หลังจากนั้นให้ทำซ้ำ `message1` 3 ครั้ง และ `message2` 5 ครั้ง นำผลลัพธ์ทั้งสองอันมาต่อกัน แล้วนำมาเก็บในตัวแปร `message3`

In [69]:
message1 = 'Hello ' * 3
message2 ='World ' * 5
message3 = message1 + message2
print(message3)

Hello Hello Hello World World World World World

### ข้อความในฐานะของลิสต์

- ในภาษา Python ข้อความคือลิสต์ของตัวอักษรครับ
- เราสามารถเข้าถึงตัวอักษรสมาชิกแต่ละตัวในข้อความได้

In [70]:
message = 'hello'
print(message[0])
print(message[1])
print(message[2])
print(message[3])
print(message[4])

h
e
l
l
o

- นอกจากนี้ เรายังสามารถเลือกบางส่วนของข้อความมาได้ด้วย เหมือนอย่างที่เราเลือกบางส่วนของลิสต์ครับ
- เช่น เราสามารถเลือกตั้งแต่ตัวอักษร index ที่ 1 จนถึง index ที่ 3 ได้ด้วยคำสั่งนี้

In [71]:
message[1:4]

'ell'

- แต่ทั้งนี้เราไม่สามารถแก้ไขสมาชิกในข้อความได้นะครับ

In [72]:
message[1] = 'E'

TypeError: 'str' object does not support item assignment

**สูตร:** ถ้าอยากได้ตัวที่ x จนถึงตัวที่ y จะเขียนเป็น slicing ได้ว่า `[x - 1 : y]`

### แบบฝึกหัด 5.2

1. จงทำซ้ำข้อความ `'prachya'` จำนวน 10 ครั้งแล้วเก็บไว้ในตัวแปร `my_string`

In [73]:
my_string = 'prachya' * 10
print(my_string)

prachyaprachyaprachyaprachyaprachyaprachyaprachyaprachyaprachyaprachya

2. จงเลือกบางส่วนของข้อความ `my_string` เริ่มจากตัวที่ 10 จนถึงตัวที่ 30 แล้วเก็บลงในตัวแปร `my_string1`

In [74]:
my_string1 = my_string[9:30]
print(my_string1)

achyaprachyaprachyapr

3. จงเลือกบางส่วนของข้อความ `my_string` ตั้งแต่ตัวที่ 20 เป็นต้นไป แล้วเก็บลงในตัวแปร `my_string2`

In [75]:
my_string2 = my_string[19:]
print(my_string2)

yaprachyaprachyaprachyaprachyaprachyaprachyaprachya

4. จงเลือกบางส่วนของข้อความ `my_string` ตั้งแต่ตัวแรกจนถึงตัวที่ 40  แล้วเก็บลงในตัวแปร `my_string3`

In [76]:
my_string3 = my_string[:40]
print(my_string3)

prachyaprachyaprachyaprachyaprachyaprach

-----

## กิจกรรม 6: การวนซ้ำ

- สังเกตไหมครับว่า แบบฝึกหัดต่างๆ ในกิจกรรม 4 และ 5 ต้องใช้วิธี copy-paste แล้วแก้หมายเลขตำแหน่งของสมาชิกเอาทีละตำแหน่ง ถ้าเกิดลิสต์มีสมาชิกจำนวนมากขึ้นมา เราก็คงจะ copy-paste กันมือหงิกแน่นอน
- เราสามารถใช้วิธีการวนลูป (loop) เพื่อทำกระบวนการเดิมซ้ำๆ ได้ครับ

### ลูปฟอร์ (for-loop)

- ลูปฟอร์ (for-loop) ใช้สำหรับทำกระบวนการเดิมซ้ำๆ กับสมาชิกแต่ละตัวในลิสต์ <u>**ตามลำดับ**</u>
  - รูปแบบคำสั่งของลูปฟอร์คือ
```python
    for <ตัวแปร> in <ลิสต์> :
        <กระบวนการ>
```
  - คำสั่งนี้จะแทนสมาชิกแต่ละตัวในลิสต์ด้วยตัวแปรที่กำหนด แล้วจึงทำซ้ำกระบวนการนี้จนกว่าจะใช้สมาชิกครบทุกตัวตามลำดับครับ
  
- เช่น ถ้าเราต้องการพิมพ์สมาชิกแต่ละตัวในลิสต์ `student_heights` ออกมา เราจะสั่งคำสั่งดังนี้

In [77]:
# ลิสต์ความสูงของนักเรียนในกลุ่ม
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

# สมาชิกแต่ละตัวของลิสต์ student_heights จะแทนด้วยตัวแปร height
for height in student_heights:
    # พิมพ์ค่าของตัวแปร height ออกหน้าจอ
    print(height)
    
print('That is all.')

163.5
150.0
167.0
161.25
170.0
That is all.

- สิ่งที่อยากให้สังเกตตรงนี้คือ กระบวนการที่เราต้องการทำซ้ำคือ `print(height)` จะต้องมีย่อหน้าถัดเข้าไป

### กฎการย่อหน้าของภาษาไพธอน

- กระบวนการที่เราต้องการทำซ้ำในลูปทุกชนิด จะต้องย่อหน้าถัดเข้าไปทางขวาเสมอ
- ขนาดของย่อหน้าที่นิยมกันคือ เคาะ spacebar 4 ครั้ง
- เมื่อไรก็ตามที่ย่อหน้ากลับออกมาทางซ้าย จะถือว่าจบลูปแล้ว

### แบบฝึกหัด 6.1

1. พิมพ์สมาชิกแต่ละตัวในลิสต์ `my_list` ออกหน้าจอโดยใช้ลูปฟอร์และคำสั่ง `print`

In [78]:
my_list = ['hello', 'my', 'name', 'is', 'prachya']

# ลูปฟอร์
for i in my_list:
  print(i)

hello
my
name
is
prachya

2. เพิ่มค่าสมาชิกแต่ละตัวในลิสต์ `my_numbers` ตัวละ 10 และพิมพ์ออกหน้าจอ

In [80]:
my_numbers = [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

# ลูปฟอร์
for number in my_numbers:
    number = number + 10
    print(number)

110
100
90
80
70
60
50
40
30
20

### ช่วงจำนวน (range)

- บางครั้งเราจำเป็นต้องวนลูปฟอร์บนเลขตำแหน่ง index ด้วย
- เราสามารถใช้คำสั่ง `range(` $a$ `,` $b$ `)` เพื่อสร้างช่วงจำนวนในลูปฟอร์ได้ โดย $a$ จะเป็นค่า index เริ่มต้นและ $b - 1$ จะเป็นค่าสุดท้ายครับ เช่น

In [81]:
for i in range(1, 11):
    print('i =', i)

i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9
i = 10

- หากเราละค่า $a$ ไป เหลือเพียง `range(` $b$ `)` ช่วงจำนวนจะเริ่มต้นจาก 0 และสิ้นสุดที่ $b - 1$ ครับ

In [82]:
for i in range(20):
    print('i =', i)

i = 0
i = 1
i = 2
i = 3
i = 4
i = 5
i = 6
i = 7
i = 8
i = 9
i = 10
i = 11
i = 12
i = 13
i = 14
i = 15
i = 16
i = 17
i = 18
i = 19

- นอกจากนี้เรายังสามารถกำหนดขนาดของก้าวในการสร้างช่วงจำนวนได้ โดยใช้คำสั่ง `range(` $a$ `,` $b$ `,` $c$ `)` เมื่อค่า $c$ คือขนาดของก้าว

In [84]:
# ก้าวมีขนาดเท่ากับ 2
for i in range(0, 21, 2):
    print(f"{i=}")

i=0
i=2
i=4
i=6
i=8
i=10
i=12
i=14
i=16
i=18
i=20

- ข้อดีของการใช้คำสั่ง `range` ที่กำหนดขนาดของก้าวได้ ก็คือ เราสามารถไล่ index ย้อนหลังได้ด้วย เช่น

In [ ]:
# ก้าวมีขนาดติดลบ แปลว่าเดินถอยหลัง
for i in range(10, 0, -1):
    print(i)
    
# สังเกตว่าลูปฟอร์จะหยุดทำงานเมื่อค่า index i = 0 ทำให้ไม่พิมพ์ค่า 0 ออกมาทางหน้าจอ

10
9
8
7
6
5
4
3
2
1

### แบบฝึกหัด 6.2

1. จงวนลูปค่า index `i` จากค่า 1 ถึง 20 แล้วพิมพ์ค่าของ `2 * i` ออกมาทางหน้าจอ

In [86]:
# วนลูปค่า index i จาก 1 ถึง 20
for i in range(1, 21):
    # พิมพ์ค่า 2 * i ออกทางหน้าจอ
    print(2 * i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

2. จงวนลูปค่า index `i` จากค่า 100 จนถึง 10 แล้วพิมพ์ค่า `i / 10` ออกมาทางหน้าจอ

In [2]:
# วนลูปค่า index i จาก 100 จนถึง 10
for i in range(100, 9, -1):
    # พิมพ์ค่า i / 10 ออกมาทางหน้าจอ
    print(i / 10)

10.0
9.9
9.8
9.7
9.6
9.5
9.4
9.3
9.2
9.1
9.0
8.9
8.8
8.7
8.6
8.5
8.4
8.3
8.2
8.1
8.0
7.9
7.8
7.7
7.6
7.5
7.4
7.3
7.2
7.1
7.0
6.9
6.8
6.7
6.6
6.5
6.4
6.3
6.2
6.1
6.0
5.9
5.8
5.7
5.6
5.5
5.4
5.3
5.2
5.1
5.0
4.9
4.8
4.7
4.6
4.5
4.4
4.3
4.2
4.1
4.0
3.9
3.8
3.7
3.6
3.5
3.4
3.3
3.2
3.1
3.0
2.9
2.8
2.7
2.6
2.5
2.4
2.3
2.2
2.1
2.0
1.9
1.8
1.7
1.6
1.5
1.4
1.3
1.2
1.1
1.0

3. จงวนลูปค่า index `i` จากค่า 0 ถึง `len(student_heights) - 1` และแปลงหน่วยความสูงของนักเรียนแต่ละคนจากหน่วยเซนติเมตรเป็นหน่วยเมตร [คำใบ้: 100 เซนติเมตร = 1 เมตร]

In [7]:
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_heights)):
    print(student_heights[i] * 0.01)

1.635
1.5
1.67
1.6125
1.7

4. จงวนลูปเพื่อแสดงสูตรคูณแม่ 3 ไล่ตั้งแต่ $3 \times 1$ จนถึง $3 \times 12$ โดยจะได้ผลลัพธ์ดังนี้

```
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
:
:
:
3 * 12 = 36
```

In [97]:
# วนลูปค่า index i จาก 1 ถึง 12
for i in range(1, 13):
    print(3, "*", i, "=", 3 * i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36

### ลูปซ้อนลูป (loop embedding)

- เราสามารถเขียนลูปซ้อนลูปได้ด้วย หากว่าโปรแกรมของเรามีความซับซ้อนกว่าลูปเดียว
- เช่น เราสามารถวนลูปเพื่อไล่สูตรคูณแม่ 3 ถึงแม่ 5 ได้ดังนี้ครับ

In [ ]:
# วนลูป index m เพื่อไล่แม่สูตรคูณจากแม่ 3 ถึงแม่ 5
for m in range(3, 6):
    print('Multiplication of', m)
    # วนลูป index i เพื่อไล่ตัวคูณจาก 1 ถึง 12
    for i in range(1, 13):
        print(m, '*', i, '=', m * i)
    # พิมพ์บรรทัดใหม่คั่นระหว่างแม่
    print()

Multiplication of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36

Multiplication of 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48

Multiplication of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60

- ข้อสังเกตจากการวนลูปฟอร์ในการไล่แม่สูตรคูณก็คือ
  1. ในลูปนอก เราจะวนลูป index ของแม่สูตรคูณก่อน เช่น แม่ 3 ถึงแม่ 5 เป็นต้น
  2. ส่วนลูปข้างใน เราจะวนลูป index ของตัวคูณในแต่ละแม่ คือตั้งแต่ 1 ถึง 12
- นั่นแสดงว่า ถ้าเราจะเขียนโปรแกรมที่สลับซับซ้อนได้ เราจะต้องแยกแยะและถอดลูปออกเป็นชั้นนอกและชั้นในให้ออกครับ

### แบบฝึกหัด 6.3

1. จงเขียนโปรแกรมเพื่อไล่แม่สูตรคูณจากแม่ 11 ถึงแม่ 15 โดยแต่ละแม่จะคูณกับตัวเลขตั้งแต่ 1 จนถึง 12

In [98]:
for m in range(11,16):
    for i in range(1,13):
        print(f"{m} * {i} = {m * i}")

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110
11 * 11 = 121
11 * 12 = 132
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130
13 * 11 = 143
13 * 12 = 156
14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140
14 * 11 = 154
14 * 12 = 168
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150
15 * 11 = 165
15 * 12 = 180

2. จงเขียนโปรแกรมเพื่อแสดงจัตุรัสตัวเลข 1 ถึง 9 โดยใช้ลูปซ้อนกัน 2 ลูป ซึ่งผลลัพธ์จะเป็นดังต่อไปนี้

```
1 2 3
4 5 6
7 8 9
```

In [99]:
for i in range(0, 3):
    for j in range(1, 4):
        print(3 * i + j, '', end='')
    print()

1 2 3
4 5 6
7 8 9

3. จงเขียนโปรแกรมเพื่อแสดงจัตุรัสตัวเลข 1 ถึง 27 โดยใช้ลูปซ้อนกัน 3 ลูป ซึ่งผลลัพธ์จะเป็นดังนี้

```
1 2 3
4 5 6
7 8 9

10 11 12
13 14 15
16 17 18

19 20 21
22 23 24
25 26 27
```

   **หมายเหตุ:** เราสามารถระบุให้คำสั่ง `print` ไม่ต้องขึ้นบรรทัดใหม่หลังจากพิมพ์ค่าออกหน้าจอได้ด้วยการระบุ `end=''` ไว้ในวงเล็บของ `print` ครับ

In [100]:
for i in range(3):
    for j in range(3):
        for k in range(3):
            print(9 * i + 3 * j + k + 1, '', end='')
        print()
    print()

1 2 3
4 5 6
7 8 9

10 11 12
13 14 15
16 17 18

19 20 21
22 23 24
25 26 27

-----

## กิจกรรม 7: การกำหนดเงื่อนไข

- กิจกรรมสุดท้ายสำหรับวันนี้คือการกำหนดเงื่อนไขครับ
- การกำหนดเงื่อนไข (branching) ในภาษาไพธอนจะใช้คำสั่ง `if` (แปลว่า 'ถ้า') ครับ โดยจะมีรูปแบบดังนี้

```python
if <เงื่อนไข>:
    <กระบวนการ>
```

- คอมพิวเตอร์จะทำกระบวนการที่อยู่ในด้านใน ถ้าหากว่าเงื่อนไขที่กำหนดนี้เป็นจริง
- จะสังเกตว่ากระบวนการนี้จะต้องย่อหน้าเหมือนกับคำสั่งลูป `for` เลย
  - นั่นเป็นเพราะว่าการเว้นวรรคย่อหน้าจะเป็นการบอกสโคป (scope) ของคำสั่ง ว่าเป็นกระบวนการที่อยู่ภายใต้คำสั่งที่อยู่ด้านนอก
  - การวนลูปก็จะวนภายใน scope ของตัวเอง
  - การกำหนดเงื่อนไขก็จะทำงานเฉพาะภายใน scope ของตัวเองเท่านั้นครับ
- เช่น โปรแกรมด้านล่างนี้จะพิมพ์ข้อความ `'Hurray!'` ถ้าหากว่าเงินเดือนในตัวแปร `salary` มีค่ามากกว่า 10,000 บาท

In [101]:
salary = 50000

if salary > 10000:
    print('Hurray!')

Hurray!

- ทดลองเปลี่ยนค่าตัวเลขของตัวแปร `salary` แล้วรันใหม่ดูนะครับ

### รูปแบบของเงื่อนไข

- เราสามารถใช้เครื่องหมายเปรียบเทียบทางคณิตศาสตร์ได้เหมือนในวิชาคณิตศาสตร์ครับ

| เครื่องหมาย | ความหมาย |           ตัวอย่าง           |
|:---------:|:--------:|:--------------------------:|
|    `<`    |  น้อยกว่า  |           `3 < 5`          |
|    `>`    |  มากกว่า  |           `5 > 3`          |
|    `==`   |  เท่ากับ   | `my_salary == your_salary` |
|    `!=`   |  ไม่เท่ากับ | `my_salary != your_salary` |
|    `>=`   |  มากกว่าหรือเท่ากับ   | `my_salary >= your_salary` |
|    `<=`   |  น้อยกว่าหรือเท่ากับ   | `my_salary <= your_salary` |

- ถ้าเราลองพิมพ์ค่าความจริงของเงื่อนไขออกมา เราจะได้เป็นค่า `True` หรือ `False` ซึ่งค่าความจริงก็เป็นข้อมูลประเภทหนึ่งเหมือนกัน เรียกว่า *ค่าตรรกะ* (boolean) ครับ เช่น

In [102]:
print(0.5 > 0.3)        # True
print(0.25 < -1.0)      # False
print(1.25 == 1.25)     # True
print(1.30 != -0.78)    # True

True
False
True
True

- ทั้งนี้เราสามารถใช้เครื่องหมายเปรียบสามารถใช้ได้กับข้อความได้ด้วยนะครับ เช่น

In [103]:
print('hello' == 'hello')       # True
print('hello' != 'world')       # True
print('hello' < 'alphabet')     # False -- คอมพิวเตอร์เรียงลำดับข้อความตามตัวอักษร

True
True
False

- นอกจากนี้เรายังสามารถใช้ตัวเชื่อมทางตรรกศาสตร์ได้ด้วยครับ

| ตัวเชื่อม    | ความหมาย |           ตัวอย่าง           |
|:---------:|:--------:|:--------------------------:|
|   `and`   |    และ   |     `a == b and x == y`    |
|    `or`   |    หรือ   |     `a != b or c != d`     |
|   `not`   |    ไม่    |    `not (a > b)`    |
|   `( )`   |   วงเล็บ  | `(a == b) and not (c > d)` |

In [104]:
v1 = 100
v2 = 200
v3 = 300

print(v1 == v2 and v2 == v3)                       # False and False = False
print(v1 + v2 == v3 or v2 + v3 == v1)              # True or False = True
print(not(v1 == v2 and v2 == v3) or v1 == v2)      # not(False and False) or False = True

False
True
True

### แบบฝึกหัด 7.1

1. จงตั้งเงื่อนไขเพื่อให้คอมพิวเตอร์พิมพ์ข้อความว่า `'You are tall.'` ถ้าหากว่าความสูงในตัวแปร `my_height` มากกว่า 170

In [106]:
my_height = 175

if my_height <= 170:
    print('You are tall.')

2. จงตั้งเงื่อนไขเพื่อให้คอมพิวเตอร์พิมพ์ข้อความว่า `'You are weathy and tall.'` ถ้าหากว่าเงินเดือนในตัวแปร `my_salary` มากกว่า 10000 และความสูงในตัวแปร `my_height` มากกว่า 170

In [109]:
my_salary = 15001
my_height = 175

if my_height > 170 and my_salary > 15000:
    print('You are wealthy and tall.')

You are wealthy and tall.

3. จงตั้งเงื่อนไขเพื่อควบคุมการพิมพ์ความสูงของนักเรียนแต่ละคน โดยจะพิมพ์ออกมาเฉพาะคนที่มีความสูงมากกว่า 160 เซนติเมตรเท่านั้น [หมายเหตุ: จะสังเกตว่าโจทย์ข้อนี้จะใช้ทั้งลูปฟอร์และการตั้งเงื่อนไขประกอบกันได้ด้วย]

In [1]:
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for height in student_heights:
    if height > 160:
        print(height)

163.5
167.0
161.25
170.0

4. จงตั้งเงื่อนไขเพื่อควบคุมการพิมพ์ชื่อของนักเรียนแต่ละคนและความสูงออกมา โดยจะพิมพ์ออกมาเฉพาะคนที่ชื่อนำหน้าด้วยตัวอักษรอื่น<u>**ที่ไม่ใช่**</u> `'A'` และ<u>**ไม่ใช่**</u> `'C'` และมีความสูงมากกว่า 160 เซนติเมตรเท่านั้น

In [2]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_names)):
    if student_heights[i] > 160:
        print(student_names[i], ':', student_heights[i])

Arm : 163.5
Cathy : 167.0
Dorothy : 161.25
Emily : 170.0

### การรับข้อมูลผ่านคีย์บอร์ด

- เราสามารถรับอินพุตจากคีย์บอร์ดได้ด้วยคำสั่ง `input` ครับ แต่เวลาสั่งคำสั่งนี้แล้ว จะต้องหาตัวแปรมาเก็บค่าอินพุตที่รับมาด้วยเสมอ

In [6]:
my_name = input('Enter your name: ')      # ใส่ข้อความเตือนผู้ใช้ที่ตรงนี้
print('Hello,', my_name)

Hello, iiii

- ค่าที่รับมาได้จะอยู่ในรูปข้อความ (string) เสมอ
- หากเราต้องการรับค่าตัวเลข เราจำเป็นต้องแปลงข้อความกลับมาเป็นตัวเลขด้วยคำสั่ง `int` และ `float` ตามลำดับครับ
  - คำสั่ง `int` จะแปลงข้อความเป็นจำนวนเต็ม เช่น 10, 20, 30
  - คำสั่ง `float` จะแปลงข้อความเป็นจำนวนจริง เช่น 0.25, 3.5, 10.0

In [8]:
my_salary_str = input('Enter your salary: ')
my_salary = int(my_salary_str)           # ต้องแปลงข้อความให้เป็นจำนวนเต็มก่อน ถึงจะเปรียบเทียบได้
if my_salary > 10000:
    print('Your salary is quite high.')

Your salary is quite high.

- ลองรันโปรแกรมด้านบนใหม่อีกรอบ แต่คราวนี้ใส่เป็นข้อความที่ไม่ใช่จำนวนเต็มดูบ้างครับ เช่น `'Prachya'` หรือ `100.5` โปรแกรมจะระเบิดทันที
- ที่คอมพิวเตอร์ฟ้องว่า `ValueError` นั้นหมายความว่า คอมพิวเตอร์ไม่สามารถแปลงข้อความให้กลายเป็นตัวเลขได้นั่นเองครับ

### การกำหนดเงื่อนไขที่มี 2 ทางเลือก

- ในกรณีที่เราต้องการกำหนดเงื่อนไขที่มี 2 ทางเลือก เราสามารถใช้คำสั่ง `if ... else ...` (else แปลว่า 'ไม่เช่นนั้น') ได้ครับ
- รูปแบบของเงื่อนไขที่มี 2 ทางเลือก

```python
if <เงื่อนไข> :
    <กระบวนการ 1>
else:
    <กระบวนการ 2>
```

- ความหมายของคำสั่งนี้คือ ถ้าเงื่อนไขนี้เป็นจริง ก็ให้ทำกระบวนการที่ 1 ไม่เช่นนั้นก็ให้ทำกระบวนการที่ 2 แทน
- เช่น โปรแกรมด้านล่างนี้จะพิมพ์ข้อความ `'Hurray!'` ถ้าหากว่าเงินเดือนในตัวแปร `salary` มีค่ามากกว่า 10,000 บาท หรือไม่เช่นนั้นก็พิมพ์ข้อความว่า `'Poor you.'` แทน

In [10]:
salary = 5000

if salary > 10000:
    print('Hurray!')
else:
    print('Poorly you.')

Poorly you.

### แบบฝึกหัด 7.2

จงตั้งเงื่อนไขเพื่อควบคุมการพิมพ์ชื่อของนักเรียนแต่ละคนและความสูงออกมา โดยจะพิมพ์ออกมาเฉพาะคนที่ชื่อนำหน้าด้วยตัวอักษรอื่นที่<u>**ไม่ใช่**</u> `'A'` และ<u>**ไม่ใช่**</u> `'C'` และมีความสูงมากกว่า 160 เซนติเมตรเท่านั้น ไม่เช่นนั้นก็ให้พิมพ์เฉพาะชื่อนักเรียนออกมาเท่านั้น

In [2]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_names)):
    if student_names[i][0] != 'A' and student_names[i][0] != 'C' and student_heights[i] > 160:
        print(student_names[i], ':', student_heights[i])
    else:
        print(student_names[i])

Arm
Bobby
Cathy
Dorothy : 161.25
Emily : 170.0

### การกำหนดเงื่อนไขแบบซับซ้อน

- นอกจากนี้ หากเงื่อนไขของโปรแกรมมีความสลับซับซ้อน เช่น การตัดเกรดของนักเรียนที่ต้องทำแบ่งเป็นช่วงชั้น เราสามารถใช้การกำหนดเงื่อนไขแบบซับซ้อน `if ... elif ... else ...` ได้ครับ (`elif` ย่อมาจากคำว่า 'else if' แปลว่า 'ไม่เช่นนั้น ถ้าหาก')
- รูปแบบของการกำหนดเงื่อนไขแบบซับซ้อน

```python
if <เงื่อนไข 1> :
    <กระบวนการ 1>
elif <เงื่อนไข 2> :
    <กระบวนการ 2>
elif <เงื่อนไข 3> :
    <กระบวนการ 3>
    :
    :
    :
else:
    <กระบวนการสุดท้าย>
```

- ความหมายของคำสั่งนี้คือ 
  1. ถ้าเงื่อนไข 1 นี้เป็นจริง ก็ให้ทำกระบวนการที่ 1
  2. ไม่เช่นนั้นก็ให้เช็คเงื่อนไข 2 ถ้าเป็นจริง ก็ให้ทำกระบวนการที่ 2
  3. ไม่เช่นนั้นก็ให้เช็คเงื่อนไข 3 ถ้าเป็นจริง ก็ให้ทำกระบวนการที่ 3
  4. เราจะเช็คเงื่อนไขแบบนี้ไปเรื่อยๆ จนกระทั่งไม่เข้าเงื่อนไขใดเลย จึงทำกระบวนการสุดท้าย

- เช่น ถ้าเราจะกำหนดเงื่อนไขเพื่อตัดเกรดของนักเรียน จากคะแนนเต็ม 100 คะแนน
  1. ถ้าได้คะแนน 80 ขึ้นไป จะได้เกรด 4
  2. ไม่เช่นนั้น ถ้าได้คะแนน 70 ขึ้นไป จะได้เกรด 3
  3. ไม่เช่นนั้น ถ้าได้คะแนน 60 ขึ้นไป จะได้เกรด 2
  4. ไม่เช่นนั้น ถ้าได้คะแนน 50 ขึ้นไป จะได้เกรด 1
  5. ไม่เช่นนั้น จะได้เกรด 0

In [3]:
score = int(input('Enter your score: '))

if score >= 80:           # score >= 80
    grade = 4
elif score >= 70:         # 70 <= score <= 79
    grade = 3
elif score >= 60:         # 60 <= score <= 69
    grade = 2
elif score >= 50:         # 50 <= score <= 59
    grade = 1
else:                     # score < 50
    grade = 0

print('Your grade =', grade)

Your grade = 2

### คำสั่งออกจากลูป (break) และคำสั่งกระโดดไปสมาชิกตัวถัดไป (continue)

- เราสามารถออกจากลูปได้ด้วยคำสั่ง `break` ครับ
- เช่น เราสามารถสั่งให้คอมพิวเตอร์พิมพ์ชื่อนักเรียนและความสูงตามลิสต์ด้านล่างออกมา จนกว่าความสูงจะมากกว่า 165 เซนติเมตรจึงจะหยุด ได้ด้วยคำสั่ง `break`

In [5]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_heights)):
    # พิมพ์ชื่อนักเรียนและความสูง
    print(student_names[i], ':', student_heights[i])
    # ถ้าความสูงของนักเรียนคนนั้น > 165 เซนติเมตร ให้ออกจากลูป
    if student_heights[i] > 165.0:
        break
        
print('That is all.')

Arm : 163.5
Bobby : 150.0
Cathy : 167.0
That is all.

- ส่วนคำสั่ง `continue` จะสั่งให้คอมพิวเตอร์เลิกทำกระบวนการที่กำลังทำกับสมาชิกตัวปัจจุบัน แล้วกระโดดไปสมาชิกตัวถัดไปทันทีครับ
- เช่น เราสามารถสั่งให้คอมพิวเตอร์พิมพ์รายชื่อนักเรียนและความสูง แต่หากนักเรียนคนใดที่มีชื่อขึ้นต้นด้วยตัว `'A'` หรือตัว `'C'` ก็จะไม่ต้องพิมพ์ต่อท้ายว่า `blacklisted` ได้ดังนี้

In [6]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_heights)):
    # พิมพ์ชื่อนักเรียนและความสูง
    print(student_names[i], ':', student_heights[i], end='')
    # ถ้าชื่อนักเรียนขึ้นต้นด้วยตัว A หรือตัว C ให้ตัดจบ แล้วไปสมาชิกตัวถัดไปทันที
    if student_names[i][0] == 'A' or student_names[i][0] == 'C':
        print()
        continue
    print(' --> blacklisted')

Arm : 163.5
Bobby : 150.0 --> blacklisted
Cathy : 167.0
Dorothy : 161.25 --> blacklisted
Emily : 170.0 --> blacklisted

### แบบฝึกหัด 7.3

จงเขียนโปรแกรมเพื่อแสดงรายการนักเรียนที่ได้เกรดตำกว่า 4 ถ้านักเรียนคนใดได้เกรดต่ำกว่า 3 ให้พิมพ์ข้อความเตือน `'warning'` ที่หลังเกรด และให้โปรแกรมหยุดการทำงานเมื่อพบนักเรียนที่ได้เกรดตำกว่า 2

In [9]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_scores = [86, 78, 54, 65, 34]

for i in range(len(student_names)):
    grade = 0
    
    # คำนวณเกรดของนักเรียน เก็บใส่ตัวแปร grade ไว้
    if student_scores[i] >= 80:
        grade = 4
    elif student_scores[i] >= 70:
        grade = 3
    elif student_scores[i] >= 60:
        grade = 2
    elif student_scores[i] >= 50:
        grade = 1
    else:
        grade = 0
    
    # ถ้าพบว่านักเรียนได้เกรด 4 ให้กระโดดข้ามไปนักเรียนคนถัดไป โดยใช้คำสั่ง continue
    if grade == 4:
        continue
    
    # พิมพ์ชื่อนักเรียนและเกรด โดยที่ยังไม่ต้องขึ้นบรรทัดใหม่
    print(student_names[i], ':', grade, end='')
    
    # ถ้าพบนักเรียนคนใดได้เกรดตำกว่า 3 ให้พิมพ์ข้อความเตือนว่า 'warning' และขึ้นบรรทัดใหม่
    if grade < 3:
        print(' warning')
        continue
    else:
        print()
    
    # หากพบนักเรียนที่ได้เกรดต่ำกว่า 2 ให้ออกจากลูปทันที โดยใช้คำสั่ง break
    if grade < 2:
        break

Bobby : 3
Cathy : 1 warning
Dorothy : 2 warning
Emily : 0 warning

---------

## กิจกรรม 8: โจทย์เสริมทักษะ

1. จงเขียนโปรแกรมเพื่อรับจำนวน $ n $ และพิมพ์พิระมิดชิดซ้ายที่มีขนาดเท่ากับ $ n $ เช่น

```
Enter the size of the left-angle pyramid (n): 5
*
**
***
****
*****
```

In [13]:
n = input("Enter the size of the left-angle pyramid (n): ")
for i in range(int(n)+1):
    print("*" * i)

*
**
***
****
*****

2. จงเขียนโปรแกรมเพื่อรับจำนวน $ h $ และพิมพ์พิระมิดที่มีความสูงเท่ากับ $ h $ เช่น

```
Enter the height of the pyramid (h): 5
    *
   ***
  *****
 *******
*********
```

In [2]:
n = int(input("Enter the height of the pyramid (h): "))
for i in range(n):
    for j in range(n-i):
        print(" ", end="")
    for k in range(i*2+1):
        print("*", end="")
    print()

        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************

3. จงเขียนโปรแกรมเพื่อรับจำนวน $ h $ และพิมพ์รูปข้าวหลามตัดที่มีความสูงเท่ากับ $ 2h - 1 $ เช่น

```
Enter the height of club (h): 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
```

In [35]:
n = 5
for i in range(n):
  # space
  for j in range(n-i):
    print(" ", end="")
  # star
  for j in range(i*2+1):
    print("*", end="")
  print()
for i in range(n, -1, -1):
  # space
  for j in range(n-i):
    print(" ", end="")
  # star
  for j in range(i*2+1):
    print("*", end="")
  print()

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

4. จงเขียนโปรแกรมเพื่อรับจำนวน $ h $ และพิมพ์รูปข้าวหลามตัดกลวงที่มีความสูงเท่ากับ $ 2h - 1 $ เช่น

```
Enter the height of hollow club (h): 5
    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *
```

In [1]:
n = int(input("Enter the height of hollow club (h): "))
fp = lambda n, i: print(f"{' '*(n-i+1)}*{' '*(i*2-1)}{'*' if i != 0 else ''}")
for i in range(n):
  fp(n,i)
for i in range(n, -1, -1):
  fp(n,i)

      *
     * *
    *   *
   *     *
  *       *
 *         *
  *       *
   *     *
    *   *
     * *
      *